// out: false

#homePage{
  #socialHeader{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: .5em @contentPaddingLeft;
    background: #14213d;
    z-index: 1;
    border-bottom: solid 2px #535353;
    
    span{
      font-size: 1.3em;
      margin-left: 1em;
      color: #000;
      color: white;
      cursor: pointer;
    }
  }

  #banner{
    position: relative;
    
    .bk{
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
    
    section{
      position: absolute;
      padding: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      background: rgba(36, 36, 36, 0.4);

      .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        min-height: 50%;
        height: 100%;
        width: 100%;
        padding-left: @contentPaddingLeft;
        padding-right: @contentPaddingLeft;

        @searchBarHeight: 3em;

        #searchBar{
          display: flex;
          background: white;
          width: 50%;
          border-radius: .4rem;
          overflow: hidden;
          margin-top: -@searchBarHeight / 2;
          // border: solid 2px #d0d0d0;

          
          input{
            // background: blue;
            width: 100%;
            padding: .8rem 1rem;
            padding-right: 0;
            border: none;
            outline: none;
            height: @searchBarHeight;
            
            &:focus{
              border: none;
              outline: none;

            }
          }
          
          icon{
            font-size: 1.3em;
            color: inherit;
            padding: .8rem 1rem;
            cursor: pointer;
          }

          &.focused{
            box-shadow: 0 0 0 0.2rem rgba(0, 155, 114, .25);

          }
        }

        #spinner{
          font-size: 4vw;
          margin: auto;
          font-weight: 800;
          color: rgba(255, 255, 255, 0.85);

          @keyframes spin {
            16.66667% { content:"Faciliter"; }
            33.33333% { content:"Promouvoir"; }
            50% { content:"Accompagner"; }
            66.6667% { content:"les innovations"; }
            83.33333% { content:"À travers l’Afrique"; }
          }

          &:after{
            display: inline-block;
            content: "Bridging Afrika";
            animation: spin 10s ease-in-out infinite;
          }
        }

        #innovationWeb{
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          // background: red;
          display: none;

          @innovationWidth: 10em;
          .innovation{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: @innovationWidth;
            height: $width;
            background-image: url("/img/hex.svg");
            background-size: 100% 100%;
            background-position-x: center;
            background-position-y: center;
            cursor: pointer;

            .icon{
              color: rgba(0, 0, 0, 0.5);
              height: auto;
              font-size: 2.3em;
              transition: all 100ms linear;
            }
            
            &:hover{
              .icon{
                color: rgba(0, 0, 0, 0.8);
                font-size: 2.8em;
              }
            }

            &:nth-child(4){
              position: relative;
              z-index: 9;
            }
            
            &:nth-child(1){
              // position: relative;
              margin-top: @innovationWidth * -.9;
              margin-left: @innovationWidth * -.50;
              z-index: 8;
            }
            
            &:nth-child(2){
              // position: relative;
              margin-top: @innovationWidth * -.9;
              margin-left: @innovationWidth * .50;
              z-index: 7;
            }
            
            &:nth-child(7){
              // position: relative;
              margin-top: @innovationWidth * .9;
              margin-left: @innovationWidth * .50;
              z-index: 6;
            }
            
            &:nth-child(6){
              // position: relative;
              margin-top: @innovationWidth * .9;
              margin-left: @innovationWidth * -.50;
              z-index: 5;
            }
            
            &:nth-child(3){
              // position: relative;
              margin-left: @innovationWidth * -1;
              z-index: 4;
            }
            
            &:nth-child(5){
              // position: relative;
              margin-left: @innovationWidth * 1;
              z-index: 3;
            }
          }
        }

        .slide-show-container{
          width: 100%;
          // background: red;

          .screen{
            height: 20vh;

            .indicators{
              display: none;
            }

          }
        }
        
        .nav-list{
          display: grid;
          grid-auto-flow: column;
          grid-column-gap: 1em;
          padding: 1em 0;
          grid-template-columns: repeat(5, 1fr);
          color: white;
          width: 100%;
          // background: blue;

          // display: none;

          .nav-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: .6em;
            cursor: pointer;
            transition: font-size 180ms;
            background: red;

            p{
              margin: 0;
            }
            
            .icon{
              font-size: 3.3em;
              margin-bottom: .3em;
            }

            &:hover{
              font-size: .85em;

              &.education{
                .icon{
                  color: #3636be;
                }
              }

              &.health{
                .icon{
                  color: #ce5353;
                }
              }

              &.agriculture{
                .icon{
                  color: #2ae070;
                }
              }

              &.technology{
                .icon{
                  color: #edf052;
                }
              }

              /* &.education{
                .icon{
                  color: rgb(67, 67, 236);
                }
              } */
            }
          }
        }

      }

    }

  }
  
  #feedback{
    padding: 4em 12em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #d0d0d0;
    h2{
      text-align: center;
      margin: 0 0 1.6em;
      max-width: 750px;
    }
    
    #box{
      display: flex;
      justify-content: center;
      padding: 5px;
      border-radius: 8em;
      border: solid 1px #d4d4d4;
      width: max-content;
      overflow: hidden;
      background: white;

      input{
        min-width: 30vw;
        padding: .3em 1em;
        border: none;
        border: none;
        outline: none;
      }

      button{
        margin: 0 !important;
        padding-top: 1em;
        padding: 1em;
        line-height: 1;
        height: auto;
        min-height: 0px;
      }

    }
  }

  section{
    padding-top: 7em;
    padding-bottom: $padding-top;
  }

  .single-center{
    padding-left: 30%;
    padding-right: $padding-left;
    text-align: center;
  }

  .double-sides, #extraSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: @contentPaddingLeft;
    padding-right: @contentPaddingLeft;
  }
  
  .double-sides{
    @textWidth: 50%;
    @mediaWidth: 40%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: @textWidth @mediaWidth;
    grid-gap: 10%;
    background: rgb(240, 240, 240);


    
    .text{
      text-align: center;
      width: 100%;
    }
    
    .media{
      position: relative;
      height: 100%;
      width: 100%;
      
      img, iframe{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: none;
      }
    }
    
    &:nth-of-type(odd){
      grid-auto-columns: @mediaWidth @textWidth;
      background: white;

      .text{
      }

      .media{
        grid-column-start: 1;
        // grid-column-end:  1;

      }
    }
  }

  #partners{
    padding: 3em 0;
    width: 100%;
    background: #d0d0d0;
    overflow: hidden;

    .content{
      width: 100%;
      overflow: hidden;
    
      h3{
        text-align: center;
        margin: 0 0 1.8em;
      }
      
      .rocker{
        position: relative;
        left: 0;
        display: flex;
        width: 200%;
        
        @keyframes rock {
          0% { left: 0}
          50% { left: -100%}
          100% { left: 0%}
        }

        animation: rock 200s linear infinite;

        .partners{
          display: flex;
          grid-auto-flow: column;
          justify-content: space-evenly;
          width: 100%;
          
          .partner{
            font-size: 4vw;
            color: #949494;

          }
        }
      }
    }
  }

  #extraSection{

    .title{
      text-align: center;
      margin-bottom: 2.5rem;
    }

    #blogs{

      .content{

        .blog-post{
          margin-bottom: 2.3rem;
    
          img{
            height: 15em;
            object-fit: cover;
          }
    
          .card-title{
            font-weight: 600;
          }
    
          .card-info{
            font-weight: 500;
          }
        }
      }
    }
  }
}